h4{
	color: white ;
}
body{
	background-color: #AD2138 ;
}

h1{
	color: White ;
}
.NYC{
	width: 30%;

}
.pharmacy{

	width: 30%;
}
a{
	color:Cornsilk ;
}

.quote2{
	width: 30%;
}
.girl{
	width:20%;
}
li{
	color: Cornsilk;
}